{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    <h2>
      Ukrainian Handmade Platform
    </h2>
    <span class="flex"></span>
    {{#if session.isAuthenticated}}
      {{#paper-button raised=true onClick=(action "invalidateSession")}}Log out{{/paper-button}}
    {{else}}
      {{#unless (eq navigator.currentPath 'login')}}
        {{#link-to 'login'}}
          {{#paper-button raised=true}}Sign in{{/paper-button}}
        {{/link-to}}
      {{/unless}}
    {{/if}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div id="main">
  {{outlet}}
</div>
